<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Combined Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Hoard_Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Hoard_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestHost.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B504E6121A89230F001B414B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B504E6271A89230F001B414B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B504E6451A8968DC001B414B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B504E64F1A8968DC001B414B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B504E6661A89690C001B414B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B504E6741A896B0E001B414B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B504E67E1A896B0E001B414B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B504E6971A896E82001B414B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B504E6AE1A898110001B414B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B504E6B81A898111001B414B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
